
{% extends "layout.html" %}
{% block content %}
<h4> Enter new book </h4>
<form action="" method="POST">

    <table>
        <tbody>
            {{ form.hidden_tag() }}
            <tr>
                <td>
                    {{ form.author.label }}
                </td>
                <td>
                    {{ form.author }}
                    {% for error in form.author.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
                <td>
                    {{ form.title.label }}
                </td>
                <td>
                    {{ form.title }}
                    {% for error in form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>



        </tbody>



    </table>
</form>
{{ form.submit() }}
{% endblock content %}