{% extends "layout.html" %}

{% block content %}
<title>Modify</title>

<h3>Modify book's data</h3>
<div class="content-section">
            <div class="form-group">
                 </div>
            <div class="border-top pt-3">
                <a class="text-muted">
               <a class="ml-2" href="{{ url_for('create_book_manualy') }}">Delete/Update</a>
                </a>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                <a class="ml-2" href="{{ url_for('index')}}"> Return </a>
                </small>
            </div>
</div>
 {% endblock content %}