{% extends "layout.html" %}

{% block content %}
<title>Mode</title>
<h2>Choose mode</h2>
<div class="content-section">
             <div class="form-group">
                 </div>

            <div class="border-top pt-3">
                <small class="text-muted">
                Done? <a class="ml-2" href="{{ url_for('create_book') }}"> Manual </a>
                </small>
            </div>

            <div class="border-top pt-3">
                <small class="text-muted">
                Done? <a class="ml-2" href="{{ url_for('modify_add_capture') }}"> Capture </a>
                </small>
            </div>

            <div class="border-top pt-3">
                <small class="text-muted">
                Done? <a class="ml-2" href="{{ url_for('index') }}"> Return to Home Paqge</a>
                </small>
            </div>
</div>
 {% endblock content %}